<div class="list mat-elevation-z1" fxLayout="column">

    <!-- LIST HEADER -->
    <div class="list-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

        <edit-consult-name
            fxFlex="1 0 auto"
            [list]="consulta"
            (listNameChanged)="onListNameChanged($event)">
        </edit-consult-name>

        <div fxFlex="0 1 auto">
            <button mat-icon-button class="list-header-option-button" [matMenuTriggerFor]="listMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #listMenu="matMenu">
                <button mat-menu-item (click)="removeList(consulta.id,consultas)">Remover Consulta</button>
            </mat-menu>
        </div>

    </div>
    <!-- / LIST HEADER -->

    <!-- LIST CONTENT -->
    <div class="list-content" fxLayout="column">

        <div class="list-cards ngx-dnd-container"
             [model]="consulta.idCards" ngxDroppable="card" (out)="onDrop($event)"
             fusePerfectScrollbar #listScroll>
            <consult ngxDraggable
                     class="scrumboard-board-card ngx-dnd-item"
                     *ngFor="let cardId of consulta.idCards"
                     [consultas]="consultas2"
                     (onConsultDelete)="onConsultDelete()"
                     [model]="cardId"
                     [cardId]="cardId">
            </consult>
            <!--                                   (click)="openCardDialog(cardId)"-->
        </div>
    </div>
    <!-- / LIST CONTENT -->

    <!-- NEW CARD BUTTON-->
    <div class="list-footer mt-16">
        <add-consult [prods]="prods" [consultas]="consultas2" (consultAdded)="onCardAdd($event)"></add-consult>
    </div>
    <!-- / NEW CARD BUTTON-->

</div>
