<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    home
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Clinicas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procure uma clinica">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

                <button mat-raised-button
                        class="mat-accent compose-dialog-button fuse-white w-20-p mr-20"
                        [routerLink]="'/list/clinics/new'"
                        aria-label="Compose"
                        [disabled]="disabled">
                <mat-icon role="img"
                              class="mat-icon notranslate s-20 material-icons mat-icon-no-color"
                              aria-hidden="true">
                        add_circle
                    </mat-icon>
                    <span>   Nova Clinica</span>
                </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let clinic">
                        <p class="text-truncate">{{clinic.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Internal Code Column -->
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let clinic">
                        <p class="text-truncate">{{clinic.nome}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="morada">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Morada</mat-header-cell>
                    <mat-cell *matCellDef="let clinic">
                        <p class="text-truncate">{{clinic.morada}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="contacto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Contacto</mat-header-cell>
                    <mat-cell *matCellDef="let clinic">
                        <p class="text-truncate">{{clinic.contacto}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="navigateToClinic(product.id)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
