<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/list/patients'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{patient.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Novo Paciente
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhe do Paciente</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div class="right">
                <button mat-raised-button
                        class="save-product-button mr-8"
                        *ngIf="pageType ==='edit'" (click)="deletePatient()"
                        color="warn"
                        [disabled]="disabled">

                    <span>APAGAR</span>
                </button>

                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="patientForm.invalid"
                        *ngIf="pageType ==='new'" (click)="addPatient()">
                    <span>ADICIONAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="patientForm.invalid"
                        *ngIf="pageType ==='edit'" (click)="savePatient()">
                    <span>GUARDAR</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="patientForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="1. Informação Basica do Paciente">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome do Paciente</mat-label>
                                    <input matInput placeholder="Nome do Paciente"
                                           name="nome"
                                           formControlName="nome"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Contacto do Paciente</mat-label>
                                    <textarea matInput placeholder="Contacto do Paciente"
                                              name="contacto"
                                              formControlName="contacto"
                                              maxlength="15"
                                              required>
                                    </textarea>
                                </mat-form-field>



                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Genero</mat-label>
                                    <input formControlName="genero"
                                           readonly>
                                    <mat-select name="metodos">
                                        <mat-option *ngFor="let genero of generos" (click)="handleGenero(genero)">
                                            {{genero}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Qual a seguradora?</mat-label>
                                    <input formControlName="seguradora"
                                           readonly>
                                    <mat-select>
                                        <mat-option *ngFor="let seguradora of seguradoras"
                                                    (click)="handleSeguradora(seguradora)">
                                            {{seguradora}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field *ngIf="seguradora !== 'Não tem'" appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nº do Seguro de Saúde</mat-label>
                                    <input matInput placeholder="Seguro de Saude"
                                           name="seguro"
                                           formControlName="seguro"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Como chegou até nós?</mat-label>
                                    <input formControlName="recomendacao"
                                           readonly>
                                    <mat-select>
                                        <mat-option *ngFor="let recomendacao of recomendacoes" (click)="handleRecomendacao(recomendacao)">
                                            {{recomendacao}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>

                        </mat-tab>


                        <mat-tab label="2. Informação Adicional do Paciente">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Email do Paciente</mat-label>
                                    <input matInput placeholder="Email do Paciente"
                                           name="email"
                                           formControlName="email"
                                           required>
                                </mat-form-field>


                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Morada do Paciente</mat-label>
                                    <textarea matInput placeholder="Morada do Paciente"
                                              name="morada"
                                              formControlName="morada"
                                              rows="3"
                                              required>
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Profissão do Paciente</mat-label>
                                    <input matInput placeholder="Profissão do Paciente"
                                              name="profissao"
                                              formControlName="profissao"
                                              required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-30-p">
                                    <mat-label>Código Postal</mat-label>
                                    <input matInput placeholder="Código Postal"
                                           name="postal"
                                           formControlName="postal"
                                           maxlength="8"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="left w-50-p">
                                    <mat-label>Cidade do Paciente</mat-label>
                                    <input matInput placeholder="Cidade do Paciente"
                                           name="cidade"
                                           formControlName="cidade"
                                           required>
                                </mat-form-field>


                                <mat-form-field appearance="outline" floatLabel="always" class="w-85-p">
                                    <mat-label>Nacionalidade do Paciente</mat-label>
                                    <input matInput placeholder="Nacionalidade do Paciente"
                                           name="pais"
                                           formControlName="pais">

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-30-p">
                                    <mat-label>Nif</mat-label>
                                    <input matInput placeholder="Nif"
                                           name="nif"
                                           formControlName="nif"
                                           type="number"
                                           maxlength="9"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class=" left w-40-p">
                                    <mat-label>Data de Nascimento</mat-label>
                                    <input matInput [matDatepicker]="picker"
                                           formControlName="nascimento"
                                           name="nascimento">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-hint align="start">MM/DD/AAAA
                                    </mat-hint>
                                </mat-form-field>


                            </div>

                        </mat-tab>

                        <mat-tab label="3. Anamenese">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="horizontal-stepper-wrapper">

                                    <!-- HORIZONTAL STEPPER EXAMPLE -->
                                    <mat-horizontal-stepper class="mat-elevation-z4" [linear]="false">

                                        <mat-step [stepControl]="patientForm">

                                            <form [formGroup]="patientForm">

                                                <ng-template matStepLabel>Hábitos</ng-template>
                                                <div fxLayout="row">
                                                    <mat-radio-group required formControlName="fuma" class="w-20-p">
                                                        <mat-label>Fuma?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>

                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="left w-30-p">
                                                        <mat-label>Se sim, quantos cigarros por dia?</mat-label>
                                                        <input type="text"
                                                               formControlName="cigarros"
                                                               placeholder="0"
                                                               matInput>
                                                    </mat-form-field>

                                                </div>

                                                <div fxLayout="row">
                                                    <mat-radio-group required formControlName="gravida" class="w-20-p">
                                                        <mat-label>Esta gravida ou pensa estar?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>

                                                <div fxLayout="row" class="mt-24">
                                                    <mat-radio-group required formControlName="estomago" class="w-20-p">
                                                        <mat-label>Tem problemas de estomago?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>

                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="left w-30-p">
                                                        <mat-label>Se sim, quais?</mat-label>
                                                        <input type="text"
                                                               formControlName="detalhe"
                                                               matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="mt-16" fxLayout="row" fxLayoutAlign="left">
                                                    <button mat-raised-button matStepperNext type="button"
                                                            color="accent">
                                                        Seguinte
                                                    </button>
                                                </div>

                                            </form>

                                        </mat-step>

                                        <mat-step [stepControl]="patientForm">

                                            <form [formGroup]="patientForm">

                                                <ng-template matStepLabel>Higiene Oral</ng-template>
                                                <div fxLayout="row">
                                                    <mat-radio-group required formControlName="halito" class="w-20-p">
                                                        <mat-label>Costuma sentir mau hálito?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="mt-24" fxLayout="row">
                                                    <mat-radio-group required formControlName="sensibilidade" class="w-20-p">
                                                        <mat-label>Costuma sentir sensibilidade?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="mt-24" fxLayout="row">
                                                    <mat-radio-group required formControlName="gengivas" class="w-20-p">
                                                        <mat-label>Sangra das gengivas?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="mt-24" fxLayout="row">

                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="w-30-p">
                                                        <mat-label>Quantas vezes escova os dentes por dia?</mat-label>
                                                        <input type="text"
                                                               formControlName="dentes"
                                                               placeholder="0"
                                                               required
                                                               matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-radio-group required formControlName="fio" class="w-20-p">
                                                        <mat-label>Usa fio?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="mt-24" fxLayout="row" fxLayoutAlign="left">
                                                    <button class="mr-8" mat-raised-button matStepperPrevious
                                                            type="button"
                                                            color="accent">
                                                        Anterior
                                                    </button>
                                                    <button mat-raised-button matStepperNext type="button"
                                                            color="accent">
                                                        Seguinte
                                                    </button>
                                                </div>

                                            </form>

                                        </mat-step>
                                        <mat-step [stepControl]="patientForm">

                                            <form [formGroup]="patientForm">

                                                <ng-template matStepLabel>Histórico Clínico</ng-template>
                                                <div fxLayout="row">
                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="w-50-p">
                                                        <mat-label>Quando foi a sua ultima ida ao dentista?</mat-label>
                                                        <input type="text"
                                                               required
                                                               formControlName="ultima"
                                                               matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="w-50-p">
                                                        <mat-label>Que tratamentos realizou?</mat-label>
                                                        <textarea matInput
                                                                  required
                                                                  formControlName="tratamentos"
                                                                  rows="3">
                                                         </textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="w-50-p">
                                                        <mat-label>Apresenta alguma queixa neste momento?</mat-label>
                                                        <textarea matInput
                                                                  required
                                                                  formControlName="queixas"
                                                                  rows="3">
                                                         </textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div class="mt-24" fxLayout="row" fxLayoutAlign="left">
                                                    <button class="mr-8" mat-raised-button matStepperPrevious
                                                            type="button"
                                                            color="accent">
                                                        Anterior
                                                    </button>
                                                    <button mat-raised-button matStepperNext type="button"
                                                            color="accent">
                                                        Seguinte
                                                    </button>
                                                </div>

                                            </form>

                                        </mat-step>
                                        <mat-step [stepControl]="patientForm">

                                            <form [formGroup]="patientForm">

                                                <ng-template matStepLabel>Saúde</ng-template>
                                                <div fxLayout="row" class="w-50-p">
                                                    <mat-label>É alergico, ou ja teve alguma reação a algum
                                                        medicamento?
                                                    </mat-label>
                                                </div>
                                                <div fxLayout="row" class="w-20-p mt-8">

                                                    <div *ngFor="let alergia of alergias; let i = index">
                                                        <mat-checkbox class="mr-8"
                                                                      [checked]="validaAlergia(alergia)"
                                                                      (change)="onChange($event)"
                                                                      [value]="alergia">{{alergia}}</mat-checkbox>
                                                    </div>
                                                </div>
                                                <div fxLayout="row" class="mt-24">
                                                    <mat-radio-group required formControlName="medicacaoescolha" class="w-20-p">
                                                        <mat-label>Faz algum tipo de medicaçao?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>

                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="left w-30-p">
                                                        <mat-label>Se sim, qual?</mat-label>
                                                        <input type="text"
                                                               formControlName="medicacao"
                                                               matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row" class="mt-24">
                                                    <mat-radio-group required formControlName="coracaoescolha" class="w-20-p">
                                                        <mat-label>Tem ou ja teve algum problema de coração?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>

                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="left w-30-p">
                                                        <mat-label>Se sim, qual?</mat-label>
                                                        <input type="text"
                                                               formControlName="coracao"
                                                               matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row" class="mt-24">
                                                    <mat-radio-group required formControlName="infectaescolha" class="w-20-p">
                                                        <mat-label>Tem alguma doença infectocontagiosa?</mat-label>
                                                        <div class="mt-8">
                                                            <mat-radio-button value="Sim">Sim</mat-radio-button>
                                                            <mat-radio-button class="ml-12" value="Nao">Não
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>

                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="left w-30-p">
                                                        <mat-label>Se sim, qual?</mat-label>
                                                        <input type="text"
                                                               formControlName="infecta"
                                                               matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row" class="w-50-p">
                                                    <mat-label>Tem, ou ja teve, alguma das seguintes alterações?
                                                    </mat-label>
                                                </div>
                                                <div fxLayout="row" class="w-20-p mt-8">

                                                    <div *ngFor="let alteracao of alteracoes; let i = index">
                                                        <mat-checkbox class="mr-8"
                                                                      required
                                                                      [checked]="validaAlteracao(alteracao)"
                                                                      (change)="onChangeAlteracao($event)"
                                                                      [value]="alteracao">{{alteracao}}</mat-checkbox>
                                                    </div>
                                                </div>
                                                <div class="mt-24" fxLayout="row" fxLayoutAlign="left">
                                                    <button class="mr-8" mat-raised-button matStepperPrevious
                                                            type="button"
                                                            color="accent">
                                                        Anterior
                                                    </button>
                                                    <button mat-raised-button matStepperNext type="button"
                                                            color="accent">
                                                        Seguinte
                                                    </button>
                                                </div>

                                            </form>

                                        </mat-step>
                                        <mat-step [stepControl]="patientForm">

                                            <form [formGroup]="patientForm">

                                                <ng-template matStepLabel>Futuro</ng-template>
                                                <div fxLayout="row">
                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="w-50-p">
                                                        <mat-label>O que o trás a Angelsmile?</mat-label>
                                                        <textarea matInput
                                                                  required
                                                                  formControlName="motivacao"
                                                                  rows="3">
                                                         </textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-form-field appearance="outline" floatLabel="always"
                                                                    class="w-50-p">
                                                        <mat-label>O que mudava no seu sorriso?</mat-label>
                                                        <textarea matInput
                                                                  required
                                                                  formControlName="sorriso"
                                                                  rows="3">
                                                         </textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div class="mt-24" fxLayout="row" fxLayoutAlign="left">
                                                    <button class="mr-8" mat-raised-button matStepperPrevious
                                                            type="button"
                                                            color="accent">
                                                        Anterior
                                                    </button>
                                                </div>

                                            </form>

                                        </mat-step>
                                    </mat-horizontal-stepper>
                                    <!-- / HORIZONTAL STEPPER EXAMPLE -->

                                </div>
                            </div>

                        </mat-tab>


                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
