<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Medicos
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procure um medico">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

                <button mat-raised-button
                        class="mat-accent compose-dialog-button fuse-white w-20-p mr-20"
                        [routerLink]="'/list/doctors/new'"
                        aria-label="Compose"
                        [disabled]="!disabled">

                <mat-icon role="img"
                              class="mat-icon notranslate s-20 material-icons mat-icon-no-color"
                              aria-hidden="true">
                        add_circle
                    </mat-icon>
                    <span>   Novo Médico</span>
                </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let doctor">
                        <p class="text-truncate">{{doctor.id}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Image Column -->
                <ng-container matColumnDef="fotografia">
                    <mat-header-cell *matHeaderCellDef> Fotografia</mat-header-cell>
                    <mat-cell *matCellDef="let doctor">
                        <img class="comercial-img"
                             *ngIf="doctor.fotografia" [alt]="doctor.nome"
                             [src]="doctor.fotografia"/>
                        <img *ngIf="!doctor.fotografia"
                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let doctor">
                        <p class="text-truncate">{{doctor.nome}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Especialidade Column -->
                <ng-container matColumnDef="especialidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Especialidade</mat-header-cell>
                    <mat-cell *matCellDef="let doctor">
                        <p class="text-truncate">{{doctor.especialidade}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let doctor; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="navigateToDoctor(doctor.id)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>