<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    attach_money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Propostas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procure uma proposta">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

            <button mat-raised-button
                    class="mat-accent compose-dialog-button fuse-white w-20-p mr-20"
                    [routerLink]="'/list/proposals/new'"
                    aria-label="Compose">
                <mat-icon role="img"
                          class="mat-icon notranslate s-20 material-icons mat-icon-no-color"
                          aria-hidden="true">
                    add_circle
                </mat-icon>
                <span>   Nova Proposta</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <p class="text-truncate">{{proposal.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Internal Code Column -->
                <ng-container matColumnDef="comercial">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Comercial</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <img class="comercial-img" [src]="proposal.userfoto" height="50" width="50">
                        <p class="text-truncate">{{'   ' + proposal.usernome}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Internal Code Column -->
                <ng-container matColumnDef="paciente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <p class="text-truncate">{{proposal.pacienteNome}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="clinica">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Clinica</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <p class="text-truncate">{{proposal.clinicaNome}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Price Column -->
                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Valor Proposta
                    </mat-header-cell>
                    <mat-cell *matCellDef="let proposal" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{proposal.descontoTotal !== '' ? proposal.valor - proposal.descontoTotal + ' €'
                            :
                            proposal.valor + ' €'}}
                            <!--                            {{product.priceTaxIncl | currency:'USD':'symbol'}}-->
                        </p>
                    </mat-cell>
                </ng-container>


                <!-- Price With Discount Column -->
                <ng-container matColumnDef="link">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Link
                    </mat-header-cell>
                    <mat-cell *matCellDef="let proposal" fxHide fxShow.gt-xs>
                        <button mat-raised-button
                                class="mat-accent compose-dialog-button fuse-white"
                                (click)="handleLink(proposal.id)"
                                aria-label="Compose">
                            <span>Ver Proposta</span>
                        </button>
                    </mat-cell>
                </ng-container>

                <!-- Speciality Column -->
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <p class="pendente" *ngIf="proposal.estado == 'Pendente'">{{proposal.estado}}</p>
                        <p class="aceite" *ngIf="proposal.estado == 'Aceite'">{{proposal.estado}}</p>
                        <p class="rejeitada" *ngIf="proposal.estado == 'Rejeitada'">{{proposal.estado}}</p>

                    </mat-cell>
                </ng-container>
                <!-- Speciality Column -->
                <ng-container matColumnDef="potencial">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Potencial de Venda</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <p class="medio" *ngIf="proposal.potencial == 'Médio'">{{proposal.potencial}}</p>
                        <p class="forte" *ngIf="proposal.potencial == 'Forte'">{{proposal.potencial}}</p>
                        <p class="fraco" *ngIf="proposal.potencial == 'Fraco'">{{proposal.potencial}}</p>

                    </mat-cell>
                </ng-container>

                <!-- Speciality Column -->
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Data Proposta</mat-header-cell>
                    <mat-cell *matCellDef="let proposal">
                        <p class="text-truncate">{{proposal.data}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let proposal; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="openEditDialog(proposal)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>