<!--<div class="top-bg accent"></div>-->
<!--<h1 matDialogTitle>Confirm</h1>-->
<!--<div mat-dialog-content>Ola {{proposal.pacienteNome}}</div>-->
<!--<div mat-dialog-actions class="pt-24">-->
<!--    <button mat-raised-button class="mat-accent mr-16" (click)="dialogRef.close(true)">Confirm</button>-->
<!--    <button mat-button (click)="dialogRef.close(false)">Cancel</button>-->

<!--</div>-->
<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row>
            <span
                class="title dialog-title">{{proposal.pacienteNome.length < 20 ? proposal.pacienteNome : proposal.pacienteNome.slice(0, 20)}}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content mt-24">

        <form name="productForm" [formGroup]="proposalDialogFom" class="product w-100-p" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Estado da proposta</mat-label>
                <input type="text"
                       formControlName="estado"
                       matInput
                       readonly>
                <mat-select>
                    <mat-option *ngFor="let estado of estados" (click)="handleEstado(estado)">
                        {{estado}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="proposal.estado === 'Aceite'" appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Metodo de pagamento</mat-label>
                <input type="text"
                       formControlName="metodo"
                       matInput
                       readonly>
                <mat-select>
                    <mat-option *ngFor="let metodo of metodos" (click)="handleMetodo(metodo)">
                        {{metodo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row" class="mt-24">

                <button mat-stroked-button
                        class="alignright mr-8 w-50-p"
                    (click)="saveState(proposal.id)">
                    <span>Guardar</span>
                </button>

                <button mat-raised-button
                        class="mr-8 w-50-p"
                        color="primary"
                        (click)="closeDialog()"
                        [routerLink]="'/list/proposals/'+proposal.id+'/edit'">
                    <span>Editar</span>
                </button>
            </div>
        </form>
    </div>
</div>
