<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/list/doctors'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{doctor.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Novo Medico
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhe do Medico</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div class="right">
                <button mat-raised-button
                        class="save-product-button mr-8"
                        *ngIf="pageType ==='edit'" (click)="deleteDoctor()"
                        color="warn"
                        [disabled]="disabled">

                <span>APAGAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="doctorForm.invalid || disabled"
                        *ngIf="pageType ==='new'" (click)="addDoctor()">
                    <span>ADICIONAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="doctorForm.invalid || disabled"
                        *ngIf="pageType ==='edit'" (click)="saveDoctor()">
                    <span>GUARDAR</span>
                </button>
            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="doctorForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informação Basica do Médico">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome do Medico</mat-label>
                                    <input matInput placeholder="Nome do Medico"
                                           name="nome"
                                           formControlName="nome"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <button matPrefix mat-icon-button matTooltip="Attach a file">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <mat-label>Fotografia do Medico</mat-label>
                                    <ngx-mat-file-input
                                        formControlName="fotografia"
                                    >
                                    </ngx-mat-file-input>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Especialidade</mat-label>

                                    <input type="text"
                                           formControlName="especialidade"
                                           matInput
                                           readonly
                                           required>
                                    <mat-select>
                                        <mat-option *ngFor="let especialidade of especialidades" (click)="handleEspecialidade(especialidade)">
                                            {{especialidade}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Clinica a que pertence</mat-label>
                                    <input formControlName="clinica"
                                           matInput
                                           required
                                           readonly>
                                    <mat-select>
                                        <mat-option *ngFor="let clinica of clinics" (click)="handleClinica(clinica)">
                                            {{clinica}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </mat-tab>


                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
