<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/list/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Novo Produto
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhe do Produto</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div class="right">
                <button mat-raised-button
                        class="save-product-button mr-8"
                        *ngIf="pageType ==='edit'" (click)="deleteProduct()"
                        color="warn"
                        [disabled]="disabled">
                    <span>APAGAR</span>
                </button>

                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="productForm.invalid || disabled"
                        *ngIf="pageType ==='new'" (click)="addProduct()">
                    <span>ADICIONAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="productForm.invalid ||disabled"
                        *ngIf="pageType ==='edit'" (click)="saveProduct()">

                    <span>GUARDAR</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informação Basica">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Código Interno</mat-label>
                                    <input matInput placeholder="Código Interno"
                                           name="codigo_interno"
                                           formControlName="codigo_interno"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome do Produto</mat-label>
                                    <input matInput placeholder="Nome do Produto"
                                           name="nome"
                                           formControlName="nome"
                                           required>
                                </mat-form-field>

                                 <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Descrição do Produto</mat-label>
                                    <textarea matInput placeholder="Descrição do Produto"
                                              name="descricao"
                                              formControlName="descricao"
                                              rows="3">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Especialidade</mat-label>

                                    <input type="text"
                                           formControlName="especialidade"
                                           matInput
                                           required>
                                    <mat-select>
                                        <mat-option *ngFor="let especialidade of especialidades" (click)="handleEspecialidade(especialidade)">
                                            {{especialidade}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>


                            </div>

                        </mat-tab>


                        <mat-tab label="Preçário">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Preço do produto</mat-label>
                                    <input matInput placeholder=" Preço do produto"
                                           name="valor"
                                           formControlName="valor"
                                           type="number"
                                           required>
                                    <span matPrefix>€</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Valor c/ Desconto</mat-label>
                                    <input matInput placeholder=" Valor c/ Desconto"
                                           name="desconto"
                                           formControlName="desconto"
                                           type="number">
                                    <span matPrefix>€ </span>
                                    <mat-hint align="start">Campo opcional</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="mt-24 w-100-p">
                                    <mat-label>Tempo de cadeira</mat-label>
                                    <input matInput placeholder="Tempo de cadeira"
                                           name="cadeira"
                                           formControlName="cadeira"
                                           type="number"
                                           required>
                                    <mat-hint align="start">Tempo em minutos</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="mt-24 w-100-p">
                                    <mat-label>Notas Adicionais</mat-label>
                                    <textarea matInput placeholder="Notas Adicionais"
                                              name="notas"
                                              formControlName="notas"
                                              rows="3">
                                    </textarea>
                                </mat-form-field>


                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
