<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/list/clinics'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{clinic.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nova Clinica
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhe da Clinica</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div class="right">
                <button mat-raised-button
                        class="save-product-button mr-8"
                        *ngIf="pageType ==='edit'" (click)="deleteDoctor()"
                        color="warn"
                        [disabled]="disabled">
                <span>APAGAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="doctorForm.invalid || disabled"
                        *ngIf="pageType ==='new'" (click)="addClinic()">
                    <span>ADICIONAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="doctorForm.invalid || disabled"
                        *ngIf="pageType ==='edit'" (click)="saveClinic()">
                    <span>GUARDAR</span>
                </button>
            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="doctorForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informação Basica da Clinica">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome da Clinica</mat-label>
                                    <input matInput placeholder="Nome da Clinica"
                                           name="nome"
                                           formControlName="nome"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Morada da clinica</mat-label>
                                    <textarea matInput name="morada"
                                              formControlName="morada"
                                              rows="3"
                                              required>
                                     </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Contacto da Clinica</mat-label>
                                    <textarea matInput placeholder="Contacto da Clinica"
                                              name="contacto"
                                              formControlName="contacto"
                                              maxlength="11"
                                              required>
                                    </textarea>
                                </mat-form-field>
                            </div>

                        </mat-tab>


                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
