@import "src/@fuse/scss/fuse";


.left {
    margin-left: 5%;
}

.left2 {
    margin-left: 25%;
}

.alignright {
    right: 5%;
}

#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;

            &.invoice {

                &.compact {
                    padding: 0;
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;

                    .invoice-container {
                        padding: 16px;
                    }
                }

                /* PRINT STYLES */
                @media print {

                    /* Invoice Specific Styles */
                    #invoice {

                        &.compact {

                            .invoice-container {
                                padding: 0;

                                .card {
                                    width: 100%;
                                    min-width: 0;
                                    background: none;
                                    padding: 0;
                                    box-shadow: none;
                                    margin-bottom: 16px;

                                    .header {

                                        .invoice-date {
                                            margin-bottom: 16pt;
                                        }

                                        .issuer {
                                            padding-right: 0;
                                            margin-right: 0;
                                        }
                                    }

                                    .content {

                                        .invoice-table {
                                            margin-top: 16pt;

                                            thead {

                                                tr {

                                                    th {
                                                        font-size: 10pt;
                                                        max-width: 60pt;

                                                        &:first-child {
                                                            padding-left: 0;
                                                        }

                                                        &:last-child {
                                                            padding-right: 0;
                                                        }
                                                    }
                                                }
                                            }

                                            tbody {

                                                tr {

                                                    td {

                                                        &:first-child {
                                                            padding-left: 0;
                                                        }

                                                        &:last-child {
                                                            padding-right: 0;
                                                        }
                                                    }
                                                }
                                            }

                                            .title {
                                                font-size: 10pt;
                                            }

                                            .detail {
                                                margin-top: 4pt;
                                                font-size: 9pt;
                                                max-width: none;
                                            }
                                        }

                                        .invoice-table-footer {
                                            margin: 16pt 0;

                                            tr {

                                                td {
                                                    font-size: 13pt;
                                                    padding: 4pt 4pt;

                                                    &:first-child {
                                                        text-align: left;
                                                        padding-left: 0;
                                                    }

                                                    &:last-child {
                                                        padding-right: 0;
                                                    }
                                                }

                                                &.discount {

                                                    td {
                                                        padding-bottom: 16pt;
                                                    }
                                                }

                                                &.total {

                                                    td {
                                                        padding: 16pt 4pt 0 4pt;
                                                        font-size: 16pt;

                                                        &:first-child {
                                                            padding-left: 0;
                                                        }

                                                        &:last-child {
                                                            padding-right: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .footer {

                                        .note {
                                            font-size: 10pt;
                                            margin-bottom: 8pt;
                                        }

                                        .logo {
                                            margin-right: 8pt;
                                        }

                                        .small-note {
                                            font-size: 8pt;
                                            line-height: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}

e-commerce-products {

    #products {

        .top-bg {

            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {

            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-category {
            flex: 0 1 240px;
        }

        .mat-column-price {
            flex: 0 1 160px;
        }

        .mat-column-quantity {
            flex: 0 1 160px;
        }

        .mat-column-active {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}

.assinatura {
    border-bottom: 1px solid;
    margin-top: 50px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.drag-handle {
    display: flex;
    align-items: center;
    cursor: move;

    .handle {
        margin-right: 5px;
    }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    background: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 16px 24px 16px 24px;
}

//CONSULTAS

.board-content-wrapper {
    position: relative;

    .board-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        .list-sortable-placeholder {
            background: rgba(0, 0, 0, 0.06);
            margin-right: 24px;
        }

        .new-list-wrapper {
            width: 344px;
            min-width: 344px;
            max-width: 344px;
            padding-right: 24px;
        }

    }
}

table {

    &.simple2 {
        width: 100%;
        border-spacing: 0;
        text-align: left;

        thead {

            tr {

                th {
                    padding: 8px;
                    font-weight: 600;
                    border-bottom: 1px solid lightgray;
                    white-space: nowrap;

                    &:first-child {
                        padding-left: 24px;
                    }

                    &:last-child {
                        padding-right: 24px;
                    }
                }
            }
        }

        tbody {

            tr {

                td {
                    padding: 8px;
                    border-bottom: 1px solid lightgray;


                    &:first-child {
                        padding-left: 24px;
                    }

                    &:last-child {
                        padding-right: 24px;
                    }
                }

                &:last-child {

                    td {
                        border-bottom: 1px solid lightgray;
                    }
                }
            }
        }

        &.clickable {

            tbody {

                tr {
                    cursor: pointer;
                    border-bottom: 1px solid lightgray;
                }
            }
        }
    }
}