<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/list/proposals'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        <!--                        {{proposal.paciente}}-->
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nova Proposta
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhe da Proposta</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div class="right">
                <button mat-raised-button
                        class="save-product-button mr-8"
                        *ngIf="pageType ==='edit'"
                        color="warn"
                        (click)="deleteProposal()"
                        [disabled]="disabledUser">
                    <span>APAGAR</span>
                </button>

                <button mat-raised-button
                        class="save-product-button"
                        *ngIf="pageType ==='new'"
                        [disabled]="validateForm()"
                        (click)="addProposal()">
                    <span>ADICIONAR</span>
                </button>
                <button mat-raised-button
                        class="save-product-button mr-8"
                        *ngIf="pageType ==='edit'"
                        (click)="duplicateProposal()">
                    <span>DUPLICAR</span>
                </button>

                <button mat-raised-button
                        class="save-product-button"
                        [disabled]="validateForm()"
                        *ngIf="pageType ==='edit'"
                        (click)="saveProposal()">
                    <span>GUARDAR</span>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="1.Paciente">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-30-p">
                                    <button matPrefix mat-icon-button matTooltip="Attach a file">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <mat-label>Antes</mat-label>
                                    <ngx-mat-file-input
                                        formControlName="antes"
                                    >
                                    </ngx-mat-file-input>
                                </mat-form-field>


                                <mat-form-field appearance="outline" floatLabel="always" class="left w-30-p">
                                    <button matPrefix mat-icon-button matTooltip="Attach a file">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <mat-label>Depois</mat-label>
                                    <ngx-mat-file-input
                                        formControlName="depois"
                                    >
                                    </ngx-mat-file-input>
                                </mat-form-field>
                                <div>
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-50-p">
                                        <mat-label>Selecione um paciente</mat-label>
                                        <input type="text"
                                               placeholder="Escolha o Paciente"
                                               aria-label="Text"
                                               matInput
                                               (keyup)="filterPatientOptions($event)"
                                               formControlName="pacienteNome"
                                               required
                                               [matAutocomplete]="auto2">
                                        <mat-autocomplete #auto2="matAutocomplete">
                                            <mat-option (click)="handlePatient(patient)"
                                                        *ngFor="let patient of filteredPatients">
                                                {{patient.nome}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <button class="left" mat-raised-button
                                            (click)="openCreateDialog()">
                                        <span>Criar Paciente</span>
                                    </button>
                                </div>

                                <mat-form-field appearance="none" floatLabel="always" class="w-100-p">
                                    <mat-label>Contacto do Paciente</mat-label>
                                    <input type="text"
                                           matInput
                                           formControlName="contacto"
                                           readonly>
                                </mat-form-field>


                                <mat-form-field appearance="none" floatLabel="always" class="w-100-p">
                                    <mat-label>Email do Paciente</mat-label>
                                    <input type="text"
                                           matInput
                                           formControlName="email"
                                           readonly>
                                </mat-form-field>


                                <mat-form-field appearance="none" floatLabel="always" class="w-100-p">
                                    <mat-label>Morada do Paciente</mat-label>
                                    <textarea matInput placeholder="Morada do Paciente"
                                              rows="3"
                                              formControlName="morada"
                                              readonly>
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="none" floatLabel="always" class="w-30-p">
                                    <mat-label>Código Postal</mat-label>
                                    <input type="text"
                                           matInput
                                           formControlName="postal"
                                           readonly>
                                </mat-form-field>

                                <mat-form-field appearance="none" floatLabel="always" class="left w-50-p">
                                    <mat-label>Cidade do Paciente</mat-label>
                                    <input type="text"
                                           matInput
                                           formControlName="cidade"
                                           readonly>
                                </mat-form-field>

                                <mat-form-field appearance="none" floatLabel="always" class="w-30-p">
                                    <mat-label>Nif do Paciente</mat-label>
                                    <input type="text"
                                           matInput
                                           formControlName="nif"
                                           readonly>
                                </mat-form-field>


                                <mat-form-field appearance="none" floatLabel="always" class="left w-55-p">
                                    <mat-label>Nacionalidade do Paciente</mat-label>
                                    <input type="text"
                                           matInput
                                           formControlName="nacionalidade"
                                           readonly>
                                </mat-form-field>


                            </div>

                        </mat-tab>

                        <mat-tab label="2.Produtos">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <!--                                https://stackoverflow.com/questions/53516071/to-add-the-list-items-on-the-table/53518335-->
                                <span>Selecionar um Produto</span>
                                <mat-form-field appearance="outline" floatLabel="always" class="mt-16 w-100-p">
                                    <input type="text"
                                           placeholder="Escolha o Produto"
                                           aria-label="Text"
                                           matInput
                                           (keyup)="filterProductOptions($event)"
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option #matOption (click)="handleProduto(product.id)"
                                                    *ngFor="let product of filteredProducts"
                                                    [value]="product.nome">
                                            {{product.nome + '    | ' + (product.cadeira ? product.cadeira + ' min' : '')}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field appearance="none" floatLabel="always" class="w-30-p">
                                    <mat-label>Preço do Produto</mat-label>
                                    <input type="text"
                                           matInput
                                           readonly>
                                    {{product.valor}}
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-30-p">
                                    <mat-label>Preço da Seguradora</mat-label>
                                    <input type="number"
                                           formControlName="desconto"
                                           matInput>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="left w-10-p">
                                    <mat-label>Quantidade</mat-label>
                                    <input type="number"
                                           formControlName="quantidade"
                                           matInput>
                                </mat-form-field>
                                <!--DENTES ADULTO-->
                                <div class="w-100-p" fxLayout="row">
                                    <div class="w-33-p">
                                        <div fxLayout="column">
                                            <span>Adulto</span>
                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesAdulto1; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>
                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesAdulto2; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-divider vertical="true" class="mr-8"></mat-divider>
                                    <div class="w-33-p">

                                        <div fxLayout="column" class="mt-20">

                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesAdulto3; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>
                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesAdulto4; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <!--DENTES CRIANCA-->

                                <div class="w-100-p mt-16" fxLayout="row">
                                    <div class="w-33-p">
                                        <div fxLayout="column">
                                            <span>Criança</span>
                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesCrianca1; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>
                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesCrianca2; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-divider vertical="true" class="mr-8"></mat-divider>
                                    <div class="w-33-p">

                                        <div fxLayout="column" class="mt-20">

                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesCrianca3; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>
                                            <div fxLayout="row">
                                                <div *ngFor="let dente of dentesCrianca4; let i = index">
                                                    <mat-checkbox class="mr-8"
                                                                  [checked]="dentesChecked.get(dente)"
                                                                  (change)="handleDente(dente)"
                                                    >{{dente}}</mat-checkbox>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                                <table class="table table-bordered w-100-p mt-24" formArrayName="quantities">
                                    <tr>
                                        <button mat-raised-button
                                                mat-button color="primary"
                                                (click)="addQuantityButton(product)">
                                            Adicionar Produto
                                        </button>
                                    </tr>


                                    <div class="mt-24 section pb-48">

                                        <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                            <mat-icon class="m-0 mr-16 secondary-text">shopping_basket</mat-icon>
                                            <div class="h2 secondary-text">Produtos</div>
                                        </div>

                                        <table class="simple2">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Dente</th>
                                                <th>Valor</th>
                                                <th></th>

                                            </tr>
                                            </thead>
                                            <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
                                            <tr *ngFor="let product of productsSelected; let i=index" cdkDrag
                                                cdkDragLockAxis="y">
                                                <td>
                                                    <div class="drag-handle">
                                                        <ng-container [ngTemplateOutlet]="dragHandleTmpl">
                                                        </ng-container>
                                                        {{ i + 1 }}
                                                    </div>
                                                </td>
                                                <td>
                                                <span class="text-truncate">
                                                    {{product.nome}}
                                                </span>
                                                <td>
                                                <span class="text-truncate">
                                                    {{product.dente}}
                                                </span>
                                                </td>
                                                <td>
                                                <span class="text-truncate">
                                                   {{product.valor + ' €'}}
                                                </span>
                                                </td>
                                                <td>
                                                    <button mat-raised-button
                                                            class="save-product-button"
                                                            (click)="removeQuantity(i)"
                                                            color="warn">Remover
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <ng-template #dragHandleTmpl>
                                            <svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16"
                                                 fill="currentColor"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </ng-template>

                                    </div>
                                </table>
                            </div>
                        </mat-tab>

                        <mat-tab label="3.Proposta">

                            <div class="tab-content p-24" fusePerfectScrollbar>


                                <span>Clinica</span>
                                <br>
                                <mat-form-field appearance="outline" floatLabel="always" class="mt-16 w-30-p">
                                    <input type="text"
                                           formControlName="clinicaNome"
                                           matInput
                                           readonly>
                                    <mat-select name="metodos">
                                        <mat-option *ngFor="let clinic of clinics" (click)="handleClinica(clinic.id)"
                                        >
                                            {{clinic.nome}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div>
                                    <span>Aplicar um desconto à proposta?</span>
                                    <br>

                                    <mat-form-field appearance="none" floatLabel="always" class="mt-16 w-30-p">
                                        <mat-label>Total</mat-label>
                                        <input type="text"
                                               matInput
                                               formControlName="total"
                                               readonly>
                                        <span matPrefix>€</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" class="mt-24 left w-30-p">
                                        <mat-label>Desconto sobre a proposta</mat-label>
                                        <input type="number"
                                               matInput
                                               formControlName="descontoTotal">
                                    </mat-form-field>
                                </div>

                                <div>
                                    <span>Previsão de duraçao de tratamento</span>
                                    <br>
                                    <mat-form-field appearance="outline" floatLabel="always" class="mt-16 w-30-p">
                                        <mat-label>Meses</mat-label>
                                        <input type="number"
                                               matInput
                                               formControlName="cadeira"
                                        >
                                    </mat-form-field>

                                </div>

                                <mat-radio-group formControlName="potencial" class="w-30-p">
                                    <mat-label>Potencial de venda</mat-label>
                                    <div class="mt-8">
                                        <mat-radio-button value="Fraco">Fraco</mat-radio-button>
                                        <mat-radio-button class="ml-12" value="Médio">Médio</mat-radio-button>
                                        <mat-radio-button class="ml-12" value="Forte">Forte</mat-radio-button>
                                    </div>
                                </mat-radio-group>


                                <div fxLayout="row" class="w-30-p mt-32">
                                    <mat-label>Escolha uma das seguintes opções de pagamento
                                    </mat-label>
                                </div>
                                <div fxLayout="row" class="w-30-p mt-8">

                                    <div *ngFor="let metodo2 of metodos; let i = index">
                                        <mat-checkbox class="mr-8"
                                                      [checked]="metodosChecked.includes(metodo2)"
                                                      (change)="handleMetodo(metodo2)"
                                        >{{metodo2}}</mat-checkbox>
                                    </div>

                                    <mat-form-field *ngIf="enableMensalidade" appearance="outline" floatLabel="always" class="left2 w-30-p">
                                        <mat-label>Mensalidade</mat-label>
                                        <input type="number"
                                               matInput
                                               formControlName="mensalidade">
                                        <span matPrefix>€</span>

                                    </mat-form-field>


                                    <mat-form-field *ngIf="enableMensalidade" appearance="outline" floatLabel="always" class="left w-30-p">
                                        <mat-label>TAEG</mat-label>
                                        <input type="number"
                                               matInput
                                               formControlName="taeg">
                                        <span matPrefix>%</span>
                                    </mat-form-field>
                                </div>


                            </div>

                        </mat-tab>

                        <mat-tab label="4.Consultas">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="section pb-48">
                                    <div fxLayout="row" fxLayoutAlign="space-between left">
                                        <span>Por favor organize os produtos pelas consultas necessarias.</span>
                                        <mat-slide-toggle (change)="checked= !checked" [checked]="checked"
                                                          color="accent">Desativar esta opção
                                        </mat-slide-toggle>
                                    </div>

                                    <!-- BOARD -->
                                    <div class="board-content w-100-p mt-32" fxLayout="row"
                                         ngxDroppable="list" [model]="consults"
                                         [@animateStagger]="{value:'50'}">

                                        <!-- LIST -->
                                        <consultas
                                            class="ngx-dnd-item w-25-p mr-24"
                                            ngxDraggable
                                            *ngFor="let consulta of consults"
                                            [model]="consulta"
                                            [consulta]="consulta"
                                            [prods]="availableTreatments"
                                            [consultas]="consults"
                                            (onConsultChange)="handleConsultTreatmentChange(consulta.id,$event)"
                                            [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                                        </consultas>
                                        <!-- / LIST -->

                                        <!-- NEW LIST BUTTON-->
                                        <add-consult-list class="new-list-wrapper w-25-p"
                                                          (listAdded)="onListAdd($event)"
                                                          [disabled]="!checked"
                                                          [size]="consults.length"
                                                          ngxDraggable [moves]="false"
                                                          [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                                        </add-consult-list>
                                        <!-- / NEW LIST BUTTON-->

                                    </div>
                                    <!-- / BOARD -->
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="5.Resumo">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="section pb-48">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">shopping_basket</mat-icon>
                                        <div class="h2 secondary-text">Produtos</div>
                                    </div>

                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Dente</th>
                                            <th>Valor</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let product of productsSelected">
                                            <td>
                                                <span class="text-truncate">
                                                    {{product.nome}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    {{product.dente ? product.dente : '-'}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    {{product.valor + '€'}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>


                        </mat-tab>

                        <mat-tab #tabFactura label="6.Plano de Tratamento">

                            <div class="invoice tab-content p-24" fusePerfectScrollbar>

                                <div class="w-100-p mt-32 mb-32" fxLayout="row">
                                    <button mat-raised-button
                                            (click)="htmlToPdf()"
                                            [disabled]="generatingPdf"
                                            color="primary">
                                        <span *ngIf="generatingPdf">A Gerar PDF...</span>
                                        <span *ngIf="!generatingPdf">Gerar PDF</span>
                                    </button>
                                </div>

                                <div class="compact page-layout blank" fxLayout="row"
                                     fusePerfectScrollbar>

                                    <div class="invoice-container w-100-p" fxLayout="column" fxLayoutAlign="start center">

                                        <!-- INVOICE -->
                                        <div class="card invoice-card" fxLayout="column" *ngFor="let pageItems of getSelectedProductsPages(); let i = index">

                                            <div class="header" fxFlex="0 0 auto">
                                                <div class="invoice-date" fxLayout="row" fxLayoutAlign="space-between">
                                                    <span>{{proposal.data}}</span>
                                                    <span>PAGINA {{ i + 1 }} DE {{ getTotalPages() }}</span>
                                                </div>

                                                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                                    <div class="client">
                                                        <div class="invoice-number" fxLayout="row"
                                                             fxLayoutAlign="start center">
                                                            <span class="title">PLANO DE TRATAMENTO</span>
                                                        </div>

                                                        <div class="info">
                                                            <div class="title">
                                                                {{proposal.pacienteNome}}
                                                            </div>
                                                            <div class="address">
                                                                {{proposal.morada}}
                                                            </div>
                                                            <div class="phone">{{proposal.contacto}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="issuer accent2" fxLayout="row"
                                                         fxLayoutAlign="start center">
                                                        <div class="logo">
                                                            <img src="assets/images/logos/angelsmile.png" alt="">
                                                        </div>

                                                        <div class="info">
                                                            <div class="title">AngelSmile</div>
                                                            <div class="address">{{getClinicaMorada(clinicNome)}}
                                                            </div>
                                                            <div class="phone">{{getClinicaContacto(clinicNome)}}</div>
                                                            <div class="email">{{getClinicPostalCode(clinicNome)}}</div>
                                                            <!--                                                            <div class="website">www.angelsmile.pt</div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="client">
                                                    <div class="info">
                                                        <div class="title" style="color:rgba(0, 0, 0, 0.54)">
                                                            Este é o link da sua proposta:
                                                        </div>
                                                        <div class="address">
                                                            <span style="color:#1a53ff;font-weight: bold">http://propostas.angelsmile.com.pt/{{proposal.id}}</span>
                                                        </div>
                                                        <div class="phone" style="color:rgba(0, 0, 0, 0.54)">
                                                            Para poder visualisar a mesma, terá de introduzir o seu
                                                            nif
                                                            ao aceder o site.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="content" fxFlex="1 1 auto">
                                                <table class="simple invoice-table">
                                                    <thead>
                                                    <tr>
                                                        <th>TRATAMENTO</th>
                                                        <th>DENTE</th>
                                                        <th class="text-right">PREÇO</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let product of pageItems">
                                                        <td>
                                                            <div class="title">
                                                                {{product.nome}}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="title">
                                                                {{product.dente}}
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            {{product.desconto ? product.desconto : product.valor | currency:'EUR':'symbol'}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <table class="simple invoice-table-footer" *ngIf="i + 1 >= getTotalPages()">
                                                    <tbody>
                                                    <tr class="subtotal">
                                                        <td>SUBTOTAL</td>
                                                        <td>{{proposal.valor | currency:'EUR':'symbol'}}</td>
                                                    </tr>
                                                    <tr *ngIf="proposal.descontoTotal" class="discount">
                                                        <td>DESCONTO</td>
                                                        <td>-{{proposal.descontoTotal | currency:'EUR':'symbol'}}</td>
                                                    </tr>
                                                    <tr class="total">
                                                        <td>TOTAL</td>
                                                        <td>{{proposal.total | currency:'EUR':'symbol'}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="footer" fxFlex="0 0 auto" *ngIf="i + 1 >= getTotalPages()">
                                                <div class="mb-32 space-between" fxLayout="row">
                                                    <div class="w-25-p">
                                                        <b>Assinatura do Medico</b>
                                                        <br>
                                                        <div class="assinatura"></div>
                                                    </div>


                                                    <div class="w-25-p">
                                                        <b>Assinatura do Paciente</b>
                                                        <br>
                                                        <div class="assinatura"></div>
                                                    </div>
                                                </div>
                                                <div class="note">
                                                    Este orçamento é valido apenas por 30 dias.
                                                </div>
                                            </div>

                                            <div class="footer" fxFlex="0 0 auto">
                                                <div fxLayout="row" fxLayoutAlign="start start">
                                                    <div class="logo">
                                                        <img src="assets/images/logos/tag.svg" alt="">
                                                    </div>
                                                    <div class="small-note">
                                                        Copyright © 2020 · AngelSmile - Dental Institute · Política
                                                        de
                                                        Privacidade
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / INVOICE -->

                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
