// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.invoice-card {
    // A4 proportion
    width: 1020px;
    height: 1443px; // 1442,8064516129px
    padding: 64px 88px;
    overflow: hidden;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 32px;
    @include mat-elevation(7);

    .header {

        .invoice-date {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 32px;
        }

        .client {

            .invoice-number {
                font-size: 18px;
                padding-bottom: 2px;

                .title {
                    color: rgba(0, 0, 0, 0.54);
                }

                .number {
                    padding-left: 6px;
                }
            }

            .due-date {
                font-size: 18px;
                padding-bottom: 16px;

                .title {
                    color: rgba(0, 0, 0, 0.54);
                }

                .date {
                    padding-left: 6px;
                }
            }

            .info {
                color: rgba(0, 0, 0, 0.54);
                line-height: 22px;
            }
        }

        .issuer {
            margin-right: -88px;
            padding-right: 66px;
            background: lightblue;

            .logo {
                width: 96px;
                padding: 0 8px;
                border-right: 1px solid rgba(255, 255, 255, 0.7);
            }

            .info {
                padding: 16px;
            }
        }
    }

    .content {

        .invoice-table {
            margin-top: 64px;
            font-size: 15px;

            thead {

                tr {

                    th {

                        &:first-child {
                            padding-left: 8px;
                        }

                        &:last-child {
                            padding-right: 8px;
                        }
                    }
                }
            }

            tbody {

                tr {

                    td {
                        border-color: rgba(0, 0, 0, 0.12);

                        &:first-child {
                            padding-left: 8px;
                        }

                        &:last-child {
                            padding-right: 8px;
                        }
                    }
                }
            }

            .title {
                font-size: 16px;
            }

            .detail {
                margin-top: 8px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.54);
                max-width: 360px;
            }
        }

        .invoice-table-footer {
            margin: 32px 0 0 0;

            tr {

                td {
                    text-align: right;
                    font-size: 16px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.54);
                    border-bottom: none;
                    padding: 4px 8px;

                    &:first-child {
                        text-align: left;
                    }
                }

                &.discount {

                    td {
                        padding-bottom: 32px;
                    }
                }

                &.total {

                    td {
                        padding: 24px 8px;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                        font-size: 35px;
                        font-weight: 300;
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }

    .footer {

        .note {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 24px;
        }

        // IE10 fix
        .logo, .small-note {
            -ms-flex: 0 1 auto;
        }

        .logo {
            width: 32px;
            min-width: 32px;
            margin-right: 24px;
        }

        .small-note {
            font-size: 12px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.54);
            line-height: 18px;
        }
    }
}