<div *ngIf="!formActive" class="add-card-button"
     (click)="openForm()"
     fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="s-20">add</mat-icon>
    <div>Adicione um tratamento</div>
</div>

<div *ngIf="formActive" class="add-card-form-wrapper">

    <form [formGroup]="form" (submit)="onFormSubmit()"  fxLayout="column">

        <mat-form-field fxFlex floatLabel="never" class="w-90-p ml-16">
            <input type="text"
                   formControlName="name"
                   matInput
                   required
                   placeholder="Escolha um produto"
                   readonly>
            <mat-select name="metodos" style="cursor: grab">
                <mat-option *ngFor="let prod of prods" (click)="handleProd(prod)"
                >
                    {{prod.nome + ' | ' + prod.dente}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="pl-8" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button class="add-button mat-accent" aria-label="add"
                    [disabled]="form.invalid">
                <span>Adicionar</span>
            </button>

            <button mat-icon-button (click)="closeForm()" class="cancel-button" aria-label="cancel">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</div>
